.homepage-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position-x: center;
	background-position-y: top;
	background-color: rgba(206, 191, 191, 0.747);
}
.tag {
	position: absolute;
	bottom: 2rem;
}
