.icon-holder {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 45%;
}

.icon svg {
	color: black;
	opacity: 0.5;
}

.icon:hover svg {
	color: chocolate;
	opacity: 1;
}
